<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thankful</title>
    <link rel="stylesheet" type="text/css" href="../static/css/vidplayer.css">
</head>
<body>
<video poster="../static/images/yellow.png" id="bgvid" playsinline autoplay muted loop>
    <source src="../static/videos/Say%20I%20Do%20With%20Thankful%20Registry.mp4" type="video/mp4">
</video>
<div id="polina">
    <button type="button" onclick="window.location.href='/register'">Join Thankful Family</button>
    <button type="button" onclick="window.location.href='/login'">Log In</button>
    <button id="pauseButton">Pause Video</button>
</div>
<script src="../static/js/vidplayer.js"></script>
</body>
</html>
