<!DOCTYPE html>
<html lang="en">
<head>

    <title>Thankful Registration Form</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>

</head>

<body>
<script type="text/javascript" src="../static/js/register.js"></script>
<form action="/register" method="post">
    <div class="form">

        <ul class="tab-group">
            <li class="tab active"><a href="">Sign Up</a></li>
            <li class="tab"><a href="/login">Log In</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up for Free</h1>

                <form action="/register" method="post">

                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                First Name<span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off" name="firstName"/>
                        </div>

                        <div class="field-wrap">
                            <label>
                                Last Name<span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off" name="lastName"/>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off" name="email"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off" name="password"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Location<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" name="location"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Gender<span class="req control-label">*</span>
                        </label>
                        <select name="gender" class="form-control right" style="width: 50%">
                            <option value="male" selected="selected">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Age<span class="req control-label">*</span>
                        </label>
                        <input name="age" class="numberSel" type="number" min="18" max="60">
                    </div>

                    <div class="field-wrap">
                        <label>
                            Preferred Gender<span class="req control-label">*</span>
                        </label>
                        <select class="form-control right" name="preferred_gender" style="width: 50%">
                            <option value="male" selected="selected">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Preferred Minimum Age<span class="req control-label">*</span>
                        </label>
                        <input name="preferred_min_age" class="numberSel" type="number" min="18" max="60">
                    </div>

                    <div class="field-wrap">
                        <label>
                            Preferred Maximum Age<span class="req control-label">*</span>
                        </label>
                        <input name="preferred_max_age" class="numberSel" type="number" min="18" max="60">
                    </div>

                    {{ recaptcha }}
                    <br>

                    <button type="submit" class="button button-block">
                    Get Started</button>

                </form>

            </div>

            <div id="login">

            </div>

        </div>

    </div>
</form>

</body>

</html>
