<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/show_user.js"></script>
    <script> showallusers({{ id }});</script>
    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="../static/css/like.css">#}
    <title>user</title>

</head>
<body>
<div class="box" align="center"></div>

{#<div class="page--wrapper">#}
{#    <div class="wrapper">#}
{#        <div class="image image--effect-zoom-pulse image--border-round"></div></div></div>#}
<div id="theDiv"></div>

</img>
{#<button onclick="unlike(user , id)">Unlike</button> {{ user.name }} <button onclick="like(user , id)">Like</button>#}
<div class="show"></div>
<a href="http://127.0.0.1:5000/logout">LOGOUT</a>
<br/>
<br/>
</body>

</html>